{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "es6": true,
    "classes": true
  },
  "globals": {
    "browser": true
  },
  "rules": {
    "semi": [2, "never"],
    "max-len": [0],
    "import/no-extraneous-dependencies": [2, { "devDependencies": true }],
    "jsx-a11y/no-static-element-interactions": [0],
    "arrow-body-style": [0],
    "react/no-unknown-property": [0],
    "react/react-in-jsx-scope": [0],
    "react/jsx-no-bind": [0],
    "react/jsx-filename-extension": [0],
    "react/self-closing-comp": [0],
    "react/prop-types": [0],
    "generator-star-spacing": [0],
    "no-unused-vars": [1],
    "class-methods-use-this": [0],
    "linebreak-style": [0],
  }
}
