h2 {
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Content {
  margin-top: 20px;
}

.Side-space {
  min-width: 75%;
}

.Breathing-room {
  margin: 5px;
  padding: 5px;
}

.User-info {
  display: flex;
  flex-direction: row;
  word-wrap: break-word;
}
  .User-info-profile-section {
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    justify-content: center;
  }
    .User-info-avatar {
      height: 250px !important; /* important to override material design */
      width: 250px !important;
      align-self: center;
    }

  .User-info-types-section {
    flex-basis: 70%;
    background-color: rgba(0, 0, 0, 0.4);
  }

.Projects-info {
}

.Featured-row {
  display: flex;
  flex-direction: row;
}
.Featured-project {
  height: 300px;
  flex-grow: 1;
}
